[mysqld]

# General Settings for better performance
max_connections = 200
innodb_buffer_pool_size = 1G

# 3. Cấu hình Consumers (Người tiêu thụ dữ liệu)
# BẮT BUỘC BẬT
performance_schema_consumer_global_instrumentation = ON
performance_schema_consumer_thread_instrumentation = ON
performance_schema_consumer_events_statements_history = ON
performance_schema_consumer_events_statements_history_long = ON
performance_schema_consumer_events_statements_current = ON
performance_schema_consumer_statements_digest = ON

# 4. Cấu hình Instruments (Công tắc nguồn dữ liệu)

# Bật nhóm SQL Statements (Quan trọng nhất)
performance_schema_instrument = 'statement/sql/%=ON'

# Bật nhóm quản lý kết nối (Login/Logout)
performance_schema_instrument = 'statement/com/Connect=ON'
performance_schema_instrument = 'statement/com/Quit=ON'
performance_schema_instrument = 'statement/com/Init DB=ON'
performance_schema_instrument = 'statement/com/Change user=ON'

# Bật Transaction cơ bản (để phát hiện spam transaction)
performance_schema_instrument = 'transaction=ON'

# ==============================================================